<div class="qrcode">
  <div class="img ml-1">
    <img class="hsa" src="{{ "images/hamstudy_a.svg" | relURL }}" alt="HamStudy Antenna Icon" />
  </div>
  <div class="label">
      Get the HamStudy App
  </div>
  <div class="img"><a
      href="https://ham.study/appstore?ref=hb2022&a=1" target="hamstudy"
      ><img src="https://hamstudy.org/api/v1/qrcode?width=75&value=https%3A%2F%2Fham.study%2Fappstore%3Fref%3Dhb2022%26a%3D1"
        alt="QR Code to get the mobile app"
      ></a
  ></div>
</div>