{{- $site := .Site }}
{{- $subelList := .Site.Data.questions.subelements -}}
{{- $questionsData := .Site.Data.questions.questions -}}
{{- $figurePath := .Site.Params.figurePath -}}
{{- $pages := .Site.Pages -}}
{{- $shownFigures := dict -}}
{{- $linkTrim := .Site.Params.linktrim | default "" -}}
{{- $inAllPagesTemplate := .Site.Home.Store.Get "inAllPagesTemplate" -}}

<div class="markdown full-pool">
  <h1>{{ .Site.Data.questions.title }}</h1>
  <h4 class="subheading"><strong>Last updated: </strong>{{ .Site.Data.questions.lastUpdate }}</h4>

  {{- range $subelList -}}
    <h2 id="{{ .id }}" class="subel subel-{{ .id }} header-text">Subelement <span class="qid">{{ .id }}</span>: {{ .name }}</h2>
    
    {{- range .sections -}}
      <div id="{{ .id }}" class="section-head">
        <label class="footer-text">Section <strong class="qid">{{ .id }}</strong></label>
        {{ .summary }}
      </div>
      <section class="section section-{{ .id }}">
        {{ partial "showQuestions" (dict 
          "questions" .questions
          "page" .
          "Site" $site
          "shouldLink" true
        ) }}
      </section>
    {{- end -}}
  {{- end -}}

  <div class="h1 text-center">THE END!</div>
</div>
