@media print {
  .book-header, .book-btn {
    display: none !important;
  }
}

:root {
  --question-bg: var(--gray-200); /* Background for question item */
  --question-border: var(--gray-800); /* Background for question item */
  --correct-answer-bg: var(--gray-100); /* Strong green for correct answer background */
  --correct-answer-border: #006400; /* Dark green border for correct answer */
  --question-distractor-color: var(--gray-800); /* Color for distractors */
  --dark-bg: #2b2b2b; /* Background for dark mode */
  --dark-question-bg: #111111; /* Background for question item in dark mode */
  --dark-answer-bg: #333333; /* Background for answer item in dark mode */
  --dark-correct-answer-border: #00aa00; /* Lighter green border for correct answer */
  --dark-question-distractor-color: #333333; /* Color for distractors */
  --dark-border: #111111; /* Border for question item in dark mode */
  --dark-answer-border: #555555; /* Border for answer item in dark mode */
}

.questions-list {
  margin: 20px 0;

  .question-figure {
    text-align: center;
    margin-bottom: 20px;

    img {
      max-width: 100%;
      max-height: 50vh; /* 50% of the viewport height */
      height: auto;
      width: auto;
      display: block;
      margin-left: auto;
      margin-right: auto;
      filter: var(--icon-filter); /* Inverts image in dark mode */
    }
  }

  .question-item {
    margin: 0 auto;
    width: 90%;
    margin-bottom: 20px;
    padding: 10px;

    > strong {
      margin: 0 0 10px 0;
      display: block;
      background-color: var(--question-bg);
      padding: 5px;
      border-radius: 5px;
      font-size: 18px;
      font-weight: bold;
      color: var(--body-font-color);
      border-bottom: 1px dashed var(--question-border);
    }

    .answers-list {
      list-style-type: none;
      padding: 0;
      margin: 0;

      .answer-item {
        padding: 0 10px;
        
        color: var(--question-distractor-color);
        display: none;
        &.correct-answer {
          display: list-item;
          padding: 10px;
          margin: 5px 0;
          border: 1px solid var(--correct-answer-border);
          border-radius: 25px;
          background-color: var(--correct-answer-bg);
          font-weight: bold;
          color: var(--body-font-color);
          box-shadow: inset 0 0 0 3px var(--correct-answer-bg); /* Visual cue */
        }

        strong {
          margin-right: 8px;
          color: var(--body-font-color);
        }
      }

      &.has-all-choices {
        .answer-item {
          display: list-item;
        }
      }
    }
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --question-bg: var(--dark-question-bg); /* Override for question item in dark mode */
    --question-border: var(--dark-border); /* Override for question item border in dark mode */
    --answer-bg: var(--dark-answer-bg); /* Override for answer item in dark mode */
    --answer-border: var(--dark-answer-border); /* Override for answer item border in dark mode */
    --correct-answer-border: var(--dark-correct-answer-border); /* Override for correct answer border in dark mode */
    --question-distractor-color: var(--dark-question-distractor-color); /* Override for distractor color in dark mode */
  }
}

.prevnext {
  font-size: 90%;
  .back { margin-right: 5px; }
  .next { margin-left: 5px; }
}

.pad-top {
  margin-top: 20px;
}
.pad-bottom {
  margin-bottom: 20px;
}
.pad-both {
  margin: 20px 0;
}

.book-content {
  .book-all-pages-toc {
    // page-break-after: always;
    // break-after: page;
    ul {
      list-style-type: none;
      padding-left: 1.5em;
    }
    & > ul {
        padding-left: 0;
    }
    a {
        text-decoration: none;
        color: #0077cc;
    }
    a:hover {
        text-decoration: underline;
    }
  }

  .book-section {
    page-break-inside: avoid;

    &:not(:last-child) {
      page-break-after: always;
      break-after: page;
    }
  }
  .question-item {
    page-break-inside: avoid;
  }

  @media screen {
    .book-section {
      margin-bottom: 2rem;
    }

    hr {
      margin: 2rem 0;
      border: 0;
      border-top: 1px solid #eee;
    }
  }

  @media print {
    hr {
      display: none;
    }
  }
}