
#cover-image {
  display: none;
}
div.print-page-break { display: none; }

@media print {
  html { font-size: 11.5px; }

  div.print-page-break {
    display: block;
    page-break-after: always;
    break-after: page;
  }
  #cover-image {
    display: block;
    page-break-after: always;
    break-after: page;
  }
  .web-only { display: none; }

  .markdown {
    line-height: 1.4 !important;
  }

  .book-header, .book-btn, .prevnext, ohms-law-component {
    display: none !important;
  }
  math annotation { display: none !important; }
  #_index h1 { margin-top: 0; font-size: 1.5em; text-align: center; }
  a.anchor { display: none !important; }
  section.book-section h2 { string-set: chapter content(), section ''; }
  section.book-section h3 { string-set: section content(); }
  .book-all-pages-toc {
    string-set: chapter '';
    break-before: page;
    page-break-before: always;
    break-after: page;
    page-break-after: always;
  }
  section.book-section::after {
    string-set: section '';
  }
  .book-section.level1 {
    break-before: page;
    page-break-before: always;
  }
  .book-section.level2 {
    break-before: page;
    page-break-before: always;
  }
  .book-section.level3 {
    margin-bottom: 5rem;
  }
  h1, h2, h3, h4 { font-weight: 700 !important; }
  h3 { font-size: 1.3rem !important; }
}

:root {
  --question-bg: var(--gray-200); /* Background for question item */
  --question-border: var(--gray-800); /* Background for question item */
  --correct-answer-bg: var(--gray-100); /* Strong green for correct answer background */
  --correct-answer-border: #006400; /* Dark green border for correct answer */
  --question-distractor-color: var(--gray-800); /* Color for distractors */
  --dark-bg: #2b2b2b; /* Background for dark mode */
  --dark-question-bg: #111111; /* Background for question item in dark mode */
  --dark-answer-bg: #333333; /* Background for answer item in dark mode */
  --dark-correct-answer-border: #00aa00; /* Lighter green border for correct answer */
  --dark-question-distractor-color: #333333; /* Color for distractors */
  --dark-border: #111111; /* Border for question item in dark mode */
  --dark-answer-border: #555555; /* Border for answer item in dark mode */
}

.questions-list {
  margin: 2rem 0;

  .question-figure {
    text-align: center;
    margin-bottom: 1rem;

    img {
      max-width: 100%;
      max-height: 50vh; /* 50% of the viewport height */
      height: auto;
      width: auto;
      display: block;
      margin-left: auto;
      margin-right: auto;
      filter: var(--icon-filter); /* Inverts image in dark mode */
    }
  }

  .question-item {
    margin: 0 auto;
    width: 90%;
    padding: 0.5rem;
    page-break-inside: avoid;
    break-inside: avoid-page;

    > strong { // Question number and text
      margin: 0 0 0.5rem 0;
      display: block;
      background-color: var(--question-bg);
      padding: 0.5rem;
      border-radius: 1.5rem 1.5rem 0 0;
      font-size: 1.05rem;
      font-weight: bold;
      color: var(--body-font-color);
      border-bottom: 1px dashed var(--question-border);
      i { opacity: 0; }
    }

    .answers-list {
      list-style-type: none;
      padding: 0;
      margin: 0;

      .answer-item {
        padding: 0 1rem;
        
        color: var(--question-distractor-color);
        display: none;
        &.correct-answer {
          display: list-item;
          padding: 0.5rem 1rem;
          margin: 0.3rem 0;
          border: 1px solid var(--correct-answer-border);
          border-radius: 1rem;
          background-color: var(--correct-answer-bg);
          font-weight: bold;
          color: var(--body-font-color);
          box-shadow: inset 0 0 0 3px var(--correct-answer-bg); /* Visual cue */
        }

        strong {
          margin-right: 0.8rem;
          color: var(--body-font-color);
        }
      }

      &.has-all-choices {
        .answer-item {
          display: list-item;
        }
      }
    }
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --question-bg: var(--dark-question-bg); /* Override for question item in dark mode */
    --question-border: var(--dark-border); /* Override for question item border in dark mode */
    --answer-bg: var(--dark-answer-bg); /* Override for answer item in dark mode */
    --answer-border: var(--dark-answer-border); /* Override for answer item border in dark mode */
    --correct-answer-border: var(--dark-correct-answer-border); /* Override for correct answer border in dark mode */
    --question-distractor-color: var(--dark-question-distractor-color); /* Override for distractor color in dark mode */
  }
}

.prevnext {
  font-size: 90%;
  .back { margin-right: 0.5rem; }
  .next { margin-left: 0.5rem; }
}

.pad-top {
  margin-top: 2rem;
}
.pad-bottom {
  margin-bottom: 2rem;
}
.pad-both {
  margin: 2rem 0;
}

.book-content {
  .book-all-pages-toc {
    ul {
      list-style-type: none;
      padding-left: 1.5em;
    }
    & > ul {
        padding-left: 0;
    }
    a {
        text-decoration: none;
        color: #0077cc;
    }
    a:hover {
        text-decoration: underline;
    }
    a::after {
      content: leader('.') target-counter(attr(href), page);

    }
  }

  .question-item {
    page-break-inside: avoid;
  }

  @media screen {
    .book-section {
      margin-bottom: 2rem;
    }

    hr {
      margin: 2rem 0;
      border: 0;
      border-top: 1px solid #eee;
    }
  }

  @media print {
    hr {
      display: none;
    }
  }
}