
:root {
  --page-width: 8.5in;
  --page-height: 11in;
  --margin-text-size: 80%;
  --max-image-width: 100%;

  --body-text-size: 14px;
  --title-page-font-size: var(--body-text-size);
  --question-pool-font-size: var(--body-text-size);
  --body-line-height: 1.5;
  --paragraph-spacing: 1rem;

  --side-margin: 0.35in;
  --binding-margin: 0.5in;
  --top-margin: 0.75in;
  --bottom-margin: 0.5in;

  --top-caption-margin: 0.25in;
  --side-caption-margin: 1em;

  --post-section-margin: 5rem;
  --post-section-rev-margin: -4rem;
  --heading-margin-top: 1.5rem;
  --heading-margin-bottom: 1rem;

  --max-image-print-width: 100%;

  // Colors
  --hamstudy: #00bcd6;
  --blockquote-bg: #e1fbff;
  --blockquote-left: var(--hamstudy);
  --section-hr: var(--hamstudy);
  --bg-gray: var(--gray-400);
  --link-color: #004499;
}

#cover-image {
  position: absolute;
  top: 0; left: 0;
  width: var(--page-width);
  height: var(--page-height);
  background: var(--cover-image-path) center / contain no-repeat;
  svg {
    top: var(--qrcode-y); left: var(--qrcode-x);
    position: absolute; width: 1in; height: 1in;
  }
}

#cover-image {
  display: none;
}
h4.subheading {
  margin-top: -0.67rem;
}

.book-brand a {
  flex-direction: column;
  img.book-icon {
    width: auto;
    height: 13rem;
    max-width: 100%;
    max-height: 50vh;
    object-fit: contain;
    padding-bottom: 0.5rem;
  }
  span {
    display: block;
    text-align: center;
    font-size: 1rem;
  }
  span.book-subtitle {
    font-size: 0.8rem;
  }
}

div.study-prompt {
  display: flex; align-items: end; justify-content: space-between;
  &.chapter-end {
    break-before: avoid;
    page-break-before: avoid;
    margin-top: var(--post-section-rev-margin);
    align-items: center;
  }
  h4 { width: 50%; margin: 0; }
}
div.qrcode {
  display: none !important;
  justify-content: space-between; margin: 0 auto; width: 75%; min-width: 20rem;
  padding: 0.75rem 0;
  div { display: flex; justify-content: center; align-items: center; text-align: center; }
  div.label { padding: 0 0.25em; }
  div.img { padding: 0; margin: 0;
    &.ml-1 { margin-left: 1rem; }
  }
  a { display: block; height: 5rem; padding-right: 0.5rem; width: 6rem; }
  border: 1px solid var(--hamstudy); border-radius: 0.5rem; text-align: center;
  img { width: 5rem; max-width: 10vw !important; }
  > img { margin-left: 1rem; }
}

.print-only { display: none; }
@media print {
  .web-only { display: none; }
  .print-only {
    display: block;
  }
  :root {
    --max-image-width: var(--max-image-print-width);
  }
  html { font-size: var(--body-text-size); }

  section.font-smaller {
    font-size: var(--title-page-font-size);
  }

  p { margin-block: var(--paragraph-spacing); }

  hr.section-break {
    background-color: var(--section-hr);
    height: 2px;
    width: 50%;
    margin: var(--post-section-margin) auto;
  }

  .print-page-break {
    display: block;
    page-break-before: always;
    break-before: page;
  }
  .full-page {
    // Used to add a full page at some arbitrary place
    font-size: var(--title-page-font-size);
    height: calc(var(--page-height) - 2rem);
    max-width: var(--page-width);
    page-break-after: always;
    break-after: page;
    .qrcode { margin: 1.25rem auto; }
  }
  #cover-image {
    display: block;
    page-break-after: always;
    break-after: page;
  }
  .web-only { display: none; }

  div.qrcode { 
    display: flex !important;
  }  

  .markdown {
    line-height: var(--body-line-height) !important;

    h1, h2, h3, h4, h5, h6 {
      margin-top: var(--heading-margin-top);
      margin-bottom: var(--heading-margin-bottom);
    }
  }

  .book-header, .book-btn, .prevnext, ohms-law-component {
    display: none !important;
  }
  math annotation { display: none !important; }
  #_index h1 { margin-top: 0; font-size: 1.5em; text-align: center; }
  a.anchor { display: none !important; }
  section.book-section > h2, .header-text { string-set: chapter content(); }
  section.book-section > h3, .footer-text { string-set: section content(); }
  .clear-footer {
    string-set: section '';
    position: relative
  }
  .book-all-pages-toc {
    string-set: chapter '';
    break-before: page;
    page-break-before: always;
    break-after: page;
    page-break-after: always;
  }
  section.book-section::after {
    string-set: section '';
  }
  .book-section.level3 {
    margin-bottom: var(--post-section-margin);
  }
  h1, h2, h3, h4 { font-weight: 700 !important; }
  h3 { font-size: 1.35rem !important; }
  h4 { font-size: 1.2rem !important; }
  .book-all-pages-toc > h2:first-of-type, section.book-section > h1:first-of-type, section.book-section > h2:first-of-type { margin-top: 0; }

  // Fix things that don't work in weasyprint:
  aside nav ul ul { padding-left: 1rem; }
  .book-languages ul { padding-left: 1.5em; }
  .markdown {
    ol, ul { padding-left: 2rem; }
  }

  .markdown h1 a.anchor, .markdown h2 a.anchor, .markdown h3 a.anchor, .markdown h4 a.anchor, .markdown h5 a.anchor, .markdown h6 a.anchor {
    display: none !important;
  }
}

:root {
  --question-bg: var(--gray-400); /* Background for question item */
  --question-border: var(--gray-800); /* Background for question item */
  --correct-answer-bg: var(--gray-100); /* Strong green for correct answer background */
  --correct-answer-border: #006400; /* Dark green border for correct answer */
  --question-distractor-color: var(--gray-800); /* Color for distractors */
  --dark-bg: #2b2b2b; /* Background for dark mode */
  --dark-question-bg: #111111; /* Background for question item in dark mode */
  --dark-answer-bg: #333333; /* Background for answer item in dark mode */
  --dark-correct-answer-border: #00aa00; /* Lighter green border for correct answer */
  --dark-question-distractor-color: #333333; /* Color for distractors */
  --dark-border: #111111; /* Border for question item in dark mode */
  --dark-answer-border: #555555; /* Border for answer item in dark mode */
}

.markdown .book-section {
  > img, > div > img, > p > img {
    max-width: var(--max-image-width) !important;
    display: block;
    margin: auto;
  }
}
.markdown table {
  display: table;
  margin: 1rem auto;
  width: 100%;
  tbody td {
    font-size: 0.8rem;
    .katex { white-space: nowrap; }
  }
  th {
    line-height: 0.8rem;
    background-color: var(--bg-gray);
  }
}

.img-med {
  width: 50%;
}
.img-full {
  width: 100%;
}
.img-pgcap {
  width: 50%;
  width: 250px;
  max-width: 40% !important;
}
.img-small {
  width: 10rem;
}
.img-centered {
  display: block;
  margin: auto;
}
.ml-2 { margin-left: 2rem; }
.float-right { float: right; margin-left: 1.5rem; clear: right; }
.float-left { float: left; margin-right: 1.5rem; clear: right; }

.markdown section blockquote {
  background-color: #e1fbff;
  // border-radius: 0.75rem;
  border-left: 0.5rem solid var(--blockquote-left);
  margin: 1rem;
}

img.icon {
  max-width: none !important;
  max-height: none;
  width: 1rem;
  vertical-align: middle;
  filter: var(--icon-filter);
}

.h1 {
  font-weight: 700;
  font-size: 2em;
}
.w-4r {
  width: 4rem;
}
.mw-60 {
  max-width: 60%;
}
.clear { clear: both; }
.text-center { text-align: center;}
.ma-0 { margin: 0; }
.ma-1 { margin: 1rem; }
.mb-0 { margin-bottom: 0; }
.mb-1 { margin-bottom: 1rem; }
.mb-2 { margin-bottom: 2rem; }

@media (prefers-color-scheme: dark) {
  :root {
    --question-bg: var(--dark-question-bg); /* Override for question item in dark mode */
    --question-border: var(--dark-border); /* Override for question item border in dark mode */
    --answer-bg: var(--dark-answer-bg); /* Override for answer item in dark mode */
    --answer-border: var(--dark-answer-border); /* Override for answer item border in dark mode */
    --correct-answer-border: var(--dark-correct-answer-border); /* Override for correct answer border in dark mode */
    --question-distractor-color: var(--dark-question-distractor-color); /* Override for distractor color in dark mode */
  }
}

.prevnext {
  font-size: 90%;
  .back { margin-right: 0.5rem; }
  .next { margin-left: 0.5rem; }
}

.pad-top {
  margin-top: 2rem;
}
.pad-bottom {
  margin-bottom: 2rem;
}
.pad-both {
  margin: 2rem 0;
}

.book-content {
  .book-all-pages-toc {
    ul {
      list-style-type: none;
      padding-left: 1.5em;
    }
    & > ul {
        padding-left: 0;
    }
    a {
        text-decoration: none;
        color: var(--link-color);
    }
    a:hover {
        text-decoration: underline;
    }
    a::after {
      content: leader('.') target-counter(attr(href), page);
    }
  }

  .question-item {
    page-break-inside: avoid;
    break-inside: avoid-page;
  }

  @media screen {
    .book-section {
      margin-bottom: 2rem;
    }
  }

}

@import "questionList";
@import "poolCustom";